body {
  margin: 0;
  font: 16px/20px BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
ul {
  list-style: none;
}

address,
blockquote,
body,
dd,
dl,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
ol,
p,
pre,
td,
th,
ul {
  margin: 0;
  padding: 0;
}
